name: build-rust

on:
  push:
    paths:
      - 'src/**'

  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: windows-2022

    steps:
      # https://zenn.dev/kt3k/articles/d557cc874961ab
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          submodules: recursive
          fetch-depth: 0
      - name: Install Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5
      - name: Download git-restore-mtime
        run: curl -O https://raw.githubusercontent.com/MestreLion/git-tools/main/git-restore-mtime
      - name: Restore mtime
        run: python ./git-restore-mtime

      - name: Build
        run: cargo build --verbose --release

      - name: Prepare Artifacts
        shell: powershell
        run: |
          New-Item -Path Artifacts -ItemType Directory
          Copy-Item -Path target/release/annict_recorder.dll -Destination Artifacts/annict_recorder.tvtp
          Copy-Item -Path AnnictRecorder.ini -Destination Artifacts/

      - name: Upload Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: annict-recorder-rs
          if-no-files-found: error
          path: Artifacts/
