name: build-cpp

on:
  push:
    paths:
      - 'AnnictRecorder/**'

  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    strategy:
      fail-fast: false
      matrix:
        platform:
          - x64
          - x86

    steps:
      - name: Checkout Repository
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@6fb02220983dee41ce7ae257b6f4d8f9bf5ed4ce # v2

      - name: Setup vcpkg
        uses: lukka/run-vcpkg@v11
        with:
          runVcpkgInstall: true
          vcpkgGitCommitId: 962e5e39f8a25f42522f51fffc574e05a3efd26b
        env:
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.platform }}-windows

      - name: Install MSBuild integration
        shell: powershell
        run: vcpkg integrate install
        env:
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.platform }}-windows

      - name: MSBuild
        run: msbuild TVTestAnnictRecorder.sln -property:Configuration="Release" -property:Platform="${{ matrix.platform }}" -m -maxcpucount
        env:
          VCPKG_DEFAULT_TRIPLET: ${{ matrix.platform }}-windows

      - name: Prepare Artifacts
        shell: powershell
        run: |
          New-Item -Path Artifacts -ItemType Directory
          New-Item -Path Artifacts/Plugins -ItemType Directory
          Copy-Item -Path ${{ matrix.platform }}/Release/AnnictRecorder.tvtp -Destination Artifacts/Plugins/
          Copy-Item -Path ${{ matrix.platform }}/Release/*.dll -Destination Artifacts/
          Copy-Item -Path AnnictRecorder.ini -Destination Artifacts/Plugins/

      - name: Upload Artifacts
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: AnnictRecorder_${{ matrix.platform }}
          if-no-files-found: error
          path: Artifacts/

      - name: Create Release
        shell: powershell
        if: startsWith(github.ref, 'refs/tags/')
        run: Compress-Archive -Path Artifacts/* -DestinationPath AnnictRecorder_${{ matrix.platform }}.zip

      - name: Upload Release
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2.5.0
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: AnnictRecorder_${{ matrix.platform }}.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
